.mean_info {
  width: 100%;
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
.cp_group_skeleton {
  width: 10rem;
  height: 4.5rem;
  border-radius: 8px;
}
.cp_group {
  max-width: 10rem;
  display: grid;
  background-color: var(--color-primary);
  flex: 1;
  padding: 14px;
  color: white;
  border-radius: 8px;
  gap: 5px 10px;
  grid-template-areas:
    "cp_icon  cp_text"
    "cp_icon  cp_count";
  box-shadow: 0 0 40px -10px var(--color-primary);
}

.cp_icon {
  font-size: 3rem;
  grid-area: cp_icon;
}

.cp_text {
  font-size: large;
  grid-area: cp_text;
}

.cp_count {
  grid-area: cp_count;
  font-size: larger;
}