.select_container {
  width: 100%;

  position: relative;
}

.select_btn {
  width: 100%;
  border-radius: 4px;
  height: 100%;
  align-items: center;
  display: flex;
  padding: 0 8px;
  height: 2.5rem;
  justify-content: space-between;
  border: 1px solid #cccccc;
}

.select_content {
  position: absolute;
  top: 120%;
  width: 100%;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #cccccc;
  z-index: 33;
}
.option {
  padding: 8px 10px;
  cursor: pointer;
}
