.side_popup_container {
  position: fixed;
  right: 10px;
  top: 10px;
  max-width: 30rem;
  border-radius: 9px;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.sb_mount {
  transform: translate(0);
}
.sb_unmount {
  transform: translate(120%);
}
.sp_body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 10px;
  gap: 8px;
  color: white;
}
.sp_message {
  text-align: center;
  word-break: break-word;
  font-weight: 400;
}

.sp_icon_error {
  font-size: 2.2rem;
}
.sp_icon_success {
  font-size: 2rem;
}
