.navbar_container {
  width: 15rem;
  height: 100vh;
  background-color: var(--bg-primary);
  padding: 10px 15px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  
}

.nb_title {
  font-size: 1.5rem;
}

.nb_center {
  display: grid;
  row-gap: 10px;
}
.nb_group {
  border-radius: 10px;
  padding: 13px;
  column-gap: 5px;
  box-shadow: 0 0 5px 1px #cccccc;
}
.user_in {
  background-color: var(--color-primary);
  color: white;
}

.nb_icon {
  font-size: 1.5rem;
}
.nb_text {
  font-size: 1.2rem;
  margin-left: 5px;
}
