.products_container {
  display: flex;
  height: 100%;

}

.left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  background-color: var(--bg-secondary);
}


.products_table_wrapper {
  width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: auto;
}
.table {
  width: 100%;
  border-collapse: separate;
}

.thead tr th {
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-align: start;
  border: 1px solid #f0f3f4;
  border-left: none;
  border-right: none;

  font-size: 12px;
  font-weight: 500;
}

.tbody tr {
  overflow: scroll;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(6, 92, 3, 0.1);
  background-color: #ffffff;
}

.table > :not(caption) > * > * {
  border-bottom-width: 1px;
  padding: 1rem 1.5rem;
}
.pt_img_wrapper {
  position: relative;
  width: 4rem;
  height: 4rem;
}

.btn {
  margin-left: 5px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.icon_edit {
  color: green;
  font-size: 1.2rem;
}
.icon_delete {
  color: red;
  font-size: 1.3rem;
}
.name {
  font-weight: 500;
  font-size: 16px;
}

.category {
  padding: 5px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: rgb(15, 128, 0);
}

.price,
.quantity {
  color: rgba(0, 0, 0, 0.7);
}

/* addProduct % Product  */
.product_container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  z-index: 32;
  align-items: center;
  background-color: rgba(148, 141, 141, 0.205);
  justify-content: center;
  backdrop-filter: blur(1px);
}

.body {
  width: min(50rem, 95%);
  max-height: 90%;
  overflow: auto;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  gap: 15px;
  background-color: var(--bg-primary);
}
.pt_img {
  width: 20rem;
  display: flex;
}
.img_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 1px solid #d6cfcf;
  color: #515154;
}

.pt_info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pt_label {
  font-size: 15px;
}
.drop_file {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}
.pt_input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d6cfcf;
  height: 2.4rem;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
}

.pt_bottom {
  display: flex;
  column-gap: 10px;
  justify-content: flex-end;
}
.pt_bottom button {
  height: 2.5rem;
  width: 7rem;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  opacity: 1.1;
  color: white;
  border: none;
  cursor: pointer;
}
.cancel_btn {
  background-color: red;
}
.save_btn {
  background-color: var(--primary-color);
}

.icon_img_add {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .body {
    flex-direction: column;
  }
  .pt_img {
    width: 100%;
    flex-shrink: 0;
    height: 15rem;
  }
}
